<div id="header" class="shadow rounded-0">
  <div class="container">
    <div class="row spacer-3"></div>
    <div class="row align-items-center justify-content-between">
      <div class="col-auto d-none d-sm-block">
        <img src="../../assets/images/BodegaLucia002.png" class="object-fit-scale" alt="Logo de Bodega Lucia" style="height: 4rem;">
      </div>
      <div class="col col-auto">
        <div class="display-6 fw-medium">Bodega Lucia</div>
      </div>
      <div class="col col-auto">
        <button type="menu" class="btn btn-outline-secondary"><i class="fa-solid fa-bars" style="width: 5rem;"></i></button>
      </div>
    </div>
    <div class="row spacer-3"></div>
  </div>
</div>

<section id="cash-register">
  <div class="spacer-5"></div>
  <div class="container">
    <div class="row">
      <div class="col-7">
        <div class="container-fluid">
          <div class="row align-items-center g-3">
            <div class="col-auto">Buscar:</div>
            <div class="col">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="" aria-label="buscar usuario" [(ngModel)]="search_string">
                <button type="button" class="btn btn-outline-secondary" (click)="search_customer()"><i class="fa-solid fa-magnifying-glass"></i></button>
              </div>
            </div>
            <div class="col-12" style="max-height: 70vh; overflow-y: auto;">
              <table class="table table-hover border text-center align-middle">
                <thead class="text-uppercase table-warning">
                  <tr>
                    <th scope="col" class="col-3">ID usuario</th>
                    <th scope="col" class="col-5">Cliente</th>
                    <th scope="col" class="col-auto">Ver operaciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of list_of_customers" [class.table-active]="item.id == selected_customer.id" (click)="select_customer(item.id)">
                    <td>{{item.id}}</td>
                    <td class="text-start">{{item.name}}</td>
                    <td>
                      <button type="button" class="btn btn-outline-secondary" [routerLink]="['/operaciones', item.id]"><i class="fa-solid fa-up-right-from-square"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <fieldset class="col" [disabled]="this.selected_customer.id == ''">
        <div class="container-fluid">
          <div class="row align-items-center g-3">
            <div class="col-auto">
              <div class="text-body-secondary">Fecha de registro de usuario:</div>
            </div>
            <div class="col">
              <input type="date" class="form-control" placeholder="" aria-label="fecha de pago" [value]="selected_customer.payment_date | date: 'yyyy-MM-dd'" readonly>
            </div>
            <div class="col-12">
              <select class="form-select" aria-label="seleccionar si registrar compra o registrar pago" [(ngModel)]="value_selection" (change)="update_customer_payments()">
                <option value="1">Registrar compra</option>
                <option value="2">Registrar pago</option>
              </select>
            </div>

            <!-- Registrar compra -->
            <div class="col-12" [ngClass]="{'d-none': value_selection != 1}">
              <div class="row align-items-center g-3">
                <div class="col-12">
                  <div class="form-floating">
                    <input type="number" class="form-control" placeholder="Valor de compra" aria-label="valor de compra" [(ngModel)]="this.new_purchase.value">
                  <label class="form-label">Valor de compra</label>
                  </div>
                </div>
                <div class="col-12">
                  <select class="form-select" aria-label="seleccionar tipo de credito" [(ngModel)]="payment_method">
                    <option value="1">Interes valor futuro</option>
                    <option value="2">Interes anualidad vencida</option>
                  </select>
                </div>
                <div class="col-12" [ngClass]="{'d-none': payment_method != 2}">
                  <input type="number" class="form-control" placeholder="Periodos de pago" aria-label="periodos de pago" [(ngModel)]="this.new_purchase.periods">
                </div>
                <div class="col-12" [ngClass]="{'d-none': payment_method != 2}">
                  <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" placeholder="Seleccionar si tiene periodo de gracia" aria-level="periodo de gracia checkbox" [(ngModel)]="this.new_purchase.grace_periods">
                    <label class="form-check-label" for="">Periodo de gracia: {{this.global_user.grace_periods}}</label>
                  </div>
                </div>
                <div class="col-12">
                  <textarea class="form-control" placeholder="Descripción" rows="5" [(ngModel)]="this.new_purchase.detail"></textarea>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-warning w-100" (click)="register_purchase()">Registrar</button>
                </div>
              </div>
            </div>

            <!-- Registrar pago -->
            <div class="col-12" style="max-height: 60vh; overflow-y: auto;" [ngClass]="{'d-none': value_selection != 2}">
              <table class="table table-bordered border rounded-3 text-center align-middle">
                <thead class="table-warning">
                  <tr>
                    <th scope="col" class="col-7">Monto</th>
                    <th scope="col" class="col-4">Estado</th>
                  </tr>
                </thead>
                
                <tbody>
                  <tr *ngFor="let item of this.customer_payments">
                    <td>{{item.value.toFixed(1)+"0"}}</td>
                    <td>
                      <button type="button" class="btn" [ngClass]="{'btn-warning': !item.status, 'btn-secondary': item.status}" [disabled]="item.status" (click)="pay_due(item)">{{item.status ? "Pagado" : "Pagar"}}</button>
                    </td>
                  </tr>
                  
                </tbody>
              
              </table>
            </div>

          </div>
        </div>
      </fieldset>
    </div>
  </div>
</section>