<div id="header" class="shadow rounded-0" style="background-color: #47738C; color: #ffffff;">
  <div class="container">
    <div class="row spacer-3"></div>
    <div class="row align-items-center justify-content-between">
      <div class="col-auto d-none d-sm-block">
        <img src="../../assets/images/LogoLupitaNavbar.png" class="object-fit-scale" alt="Logo Abarrotes Lupita" style="height: 4rem;">
      </div>
      <div class="col col-auto">
        <div class="display-6 fw-medium">Abarrotes Lupita</div>
      </div>
      <div class="col col-2"></div>
    </div>
    <div class="row spacer-3"></div>
  </div>
</div>

<section id="login">
  <div class="container">
    <div class="spacer-6 d-xl-none"></div>
    <div class="row align-items-center justify-content-center">
      <div class="col-sm-8 col-xl-6">
        <div class="row text-center justify-content-center">
          <div class="col-10 col-lg-8 col-xl-8">
            <div class="row">
              <div class="h1">Iniciar Sesión</div>
            </div>
            <div class="row spacer-5"></div>
            <div class="row px-4">
              <div class="col">
                <input type="text" class="form-control" placeholder="Nombre de usuario" aria-label="nombre de usuario" [(ngModel)]="username">
              </div>
            </div>
            <div class="row spacer-3"></div>
            <div class="row px-4">
              <div class="col">
                <div class="input-group">
                  <input [type]="show_password ? 'text' : 'password'" class="form-control" placeholder="Contraseña" aria-label="nombre de usuario" aria-describedby="button-addon-password" id="password-input" [(ngModel)]="password">
                  <button type="button" class="btn btn-outline-secondary  " id="button-addon-password" (click)="show_password = !show_password"><i class="fa-solid fa-eye"></i></button>
                </div>
              </div>
            </div>
            <div class="row spacer-3"></div>
            <div class="row px-4">
              <div class="col">
                <button type="submit" class="btn btn-primary w-100" (click)="login()"
                onmouseover="this.style.backgroundColor='#7abbbd'; this.style.borderColor='#7abbbd'; this.style.color='#112244';"
                onmouseout="this.style.backgroundColor='#94E0E4'; this.style.borderColor='#94E0E4'; this.style.color='#112244';"
                style="background-color: #94E0E4; border-color: #94E0E4; color: #112244;">
                Ingresar
              </button>
              </div>
            </div>
            <div class="row spacer-3"></div>
          </div>

        </div>
      </div>
      <div class="col-4 d-none d-xl-block">
        <div class="">
          <img src="../../../assets/images/LogoLupita.png" alt="Logo Lupita" cla>
        </div>
      </div>
    </div>
  </div>
</section>
