<div id="header" class="shadow rounded-0">
  <div class="container">
    <div class="row spacer-3"></div>
    <div class="row align-items-center justify-content-between">
      <div class="col-auto d-none d-sm-block">
        <img src="../../assets/images/BodegaLucia002.png" class="object-fit-scale" alt="Logo de Bodega Lucia" style="height: 4rem;">
      </div>
      <div class="col col-auto">
        <div class="display-6 fw-medium">Bodega Lucia</div>
      </div>
      <div class="col col-auto">
        <button type="menu" class="btn btn-outline-secondary" [routerLink]="['/configuracion']"><i class="fa-solid fa-gear" style="width: 5rem;"></i></button>
      </div>
    </div>
    <div class="row spacer-3"></div>
  </div>
</div>

<section id="login">
  <div class="container">
    <div class="spacer-6 d-xl-none"></div>
    <div class="row align-items-end justify-content-center">
      <div class="col-sm-8 col-xl-6">
        <div class="row text-center justify-content-center">
          <div class="col-10 col-lg-8 col-xl-8">
            <div class="row">
              <div class="h1">Iniciar Sesión</div>
            </div>
            <div class="row spacer-5"></div>
            <div class="row px-4">
              <div class="col">
                <input type="text" class="form-control" placeholder="Nombre de usuario" aria-label="nombre de usuario" [(ngModel)]="username">
              </div>
            </div>
            <div class="row spacer-3"></div>
            <div class="row px-4">
              <div class="col">
                <div class="input-group">
                  <input [type]="show_password ? 'text' : 'password'" class="form-control" placeholder="Contraseña" aria-label="nombre de usuario" aria-describedby="button-addon-password" id="password-input" [(ngModel)]="password">
                  <button type="button" class="btn btn-outline-secondary  " id="button-addon-password" (click)="show_password = !show_password"><i class="fa-solid fa-eye"></i></button>
                </div>
              </div>
            </div>
            <div class="row spacer-3"></div>
            <div class="row px-4">
              <div class="col">
                <button type="submit" class="btn btn-primary w-100" (click)="login()">Ingresar</button>
              </div>
            </div>
            <div class="row spacer-3"></div>
          </div>
          
        </div>
      </div>
      <div class="col-6 d-none d-xl-block">
        <div class="">
          <img src="../../../assets/images/store.png" alt="login-referential-image" cla>
        </div>
      </div>
    </div>
  </div>
</section>
