<div id="header" class="shadow rounded-0">
  <div class="container">
    <div class="row spacer-3"></div>
    <div class="row align-items-center justify-content-between">
      <div class="col-auto d-none d-sm-block">
        <img src="../../assets/images/BodegaLucia002.png" class="object-fit-scale" alt="Logo de Bodega Lucia" style="height: 4rem;">
      </div>
      <div class="col col-auto">
        <div class="display-6 fw-medium">Registrar cliente</div>
      </div>
      <div class="col col-auto">
        <button type="menu" class="btn btn-outline-secondary" [routerLink]="['/caja']"><i class="fa-solid fa-home" style="width: 5rem;"></i></button>
      </div>
    </div>
    <div class="row spacer-3"></div>
  </div>
</div>

<section id="client-register" class="">
  <div class="container">
    <div class="row spacer-6"></div>
    <div class="row w-75 mx-auto justify-content-center">
      <div class="col-12 col-md-8">
        <div class="row gy-4">
          <div class="col-12">
            <div class="form-floating">
              <input type="text" class="form-control" placeholder="Nombre completo" aria-label="nombre completo" [(ngModel)]="new_customer.name">
            <label>Nombre completo</label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-floating">
              <input type="number" class="form-control" placeholder="Telefono" aria-label="telefono" [(ngModel)]="new_customer.phone">
              <label>Telefono</label>
            </div>
          </div>
          <div class="col.12">
            <div class="form-floating">
              <input type="number" class="form-control" placeholder="DNI" aria-label="dni" [(ngModel)]="new_customer.dni">
            <label>DNI</label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-floating">
              <input type="date" class="form-control" placeholder="Fecha de pago" aria-label="fecha de pago" [min]="min_date | date: 'yyyy-MM-dd'" [max]="max_date | date: 'yyyy-MM-dd'" [(ngModel)]="new_customer.payment_date">
              <label>Fecha de pago</label>
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-warning w-100" (click)="register_customer()">Registrar</button>
          </div>  
        </div>
      </div>
    </div>
    <div class="row spacer-3"></div>
  </div>
</section>
